/* @settings

name: MainHub
id: mainHub-theme
settings:
    - 
        id: introduction
        title: Thank you for using MainHub!
        description: "You may change anything that's possible to change here, I try to make it as customizable as possible and made some presets for users who don't like tinkering with the settings"
        type: info-text
    -
        id: presets
        title: Preset Selector
        description: "Warning: Choose Custom if you want to customize the colors of MainHub!"
        type: class-select
        allowEmpty: false
        default: mainhub
        options:
            -
                label: MainHub
                value: mainhub
            -
                label: Catppuccin
                value: catppuccin
            -
                label: Custom
                value: custom
    -
        id: light-mode
        title: Light Mode
        description: Settings exclusive to the light mode
        type: heading
        level: 1
        collapsed: true
    -
        id: light-mode-heading
        title: Headings
        type: heading
        level: 2
        collapsed: true
    -
        id: light-mode-h1
        title: Heading 1
        type: heading
        level: 3
        collapsed: true
    -
        id: light-mode-h1-color
        title: H1 Color
        description: Heading 1 color
        type: variable-color
        format: hex
        opacity: true
        default: '#'
    -
        id: light-mode-h1-font
        title: H1 Font Family
        description: Accepts any CSS font-family value
        type: variable-text
        default: ''
    -
        id: light-mode-h1-size
        title: H1 Font Size
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    -
        id: light-mode-h1-line-height
        title: H1 Line Height
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    -
        id: light-mode-h1-alignment
        title: H1 Alignment
        type: variable-select
        default: left
        options:
            -
                label: Left Alignment
                value: left
            -
                label: Center Alignment
                value: center
            -
                label: Right Alignment
                value: right
            -
                label: Justify Alignment
                value: justify
    -
        id: light-mode-h1-weight
        title: H1 Font Weight
        type: variable-number-slider
        default: 800
        min: 50
        step: 50
        max: 900
    -
        id: light-mode-h1-variant
        title: H1 Variant
        type: variable-select
        default: normal
        options:
            -
                label: Normal
                value: normal
            -
                label: Small Caps
                value: small-caps
            -
                label: All Small Caps
                value: all-small-caps
    -
        id: light-mode-h1-color-hover
        title: H1 Hover Color
        description: Heading 1 color when hovered
        type: variable-color
        format: hex
        opacity: true
        default: '#'
    -
        id: light-mode-h1-hover-effect
        title: H1 Hover Effect
        type: class-select
        default: font-size 
        options:
            -
                label: None
                value: ''
            -
                label: Font Size
                value: light-mode-h1-hover-font-size
    -
        id: light-mode-h1-hover-timing-function
        title: H1 Hover Timing Function
        type: variable-select
        default: ease-in-out
        options:
            -  
                label: None
                value: none
            -
                label: Linear
                value: linear
            -
                label: Ease
                value: ease
            -
                label: Ease In
                value: ease-in
            -
                label: Ease Out
                value: ease-out
            -
                label: Ease In Out
                value: ease-in-out
    -
        id: light-mode-h1-hover-duration
        title: H1 Hover Duration
        type: variable-number
        default: 0.25
        format: s
    -
        id: light-mode-h1-hover-delay
        title: H1 Hover Delay
        type: variable-number
        default: 0
        format: s
    -
        id: light-mode-h2
        title: Heading 2
        type: heading
        level: 3
        collapsed: true
    -
        id: light-mode-h2-color
        title: H2 Color
        description: Heading 2 color
        type: variable-color
        format: hex
        opacity: true
        default: '#'
    -
        id: light-mode-h2-font
        title: H2 Font Family
        description: Accepts any CSS font-family value
        type: variable-text
        default: ''
    -
        id: light-mode-h2-size
        title: H2 Font Size
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    -
        id: light-mode-h2-line-height
        title: H2 Line Height
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    -
        id: light-mode-h2-alignment
        title: H2 Alignment
        type: variable-select
        default: left
        options:
            -
                label: Left Alignment
                value: left
            -
                label: Center Alignment
                value: center
            -
                label: Right Alignment
                value: right
            -
                label: Justify Alignment
                value: justify
    -
        id: light-mode-h2-weight
        title: H2 Font Weight
        type: variable-number-slider
        default: 800
        min: 50
        step: 50
        max: 900
    -
        id: light-mode-h2-variant
        title: H2 Variant
        type: variable-select
        default: normal
        options:
            -
                label: Normal
                value: normal
            -
                label: Small Caps
                value: small-caps
            -
                label: All Small Caps
                value: all-small-caps
    -
        id: light-mode-h2-color-hover
        title: H2 Hover Color
        description: Heading 2 color when hovered
        type: variable-color
        format: hex
        opacity: true
        default: '#'
    -
        id: light-mode-h2-hover-effect
        title: H2 Hover Effect
        type: class-select
        default: font-size 
        options:
            -
                label: None
                value: ''
            -
                label: Font Size
                value: light-mode-h2-hover-font-size
    -
        id: light-mode-h2-hover-timing-function
        title: H2 Hover Timing Function
        type: variable-select
        default: ease-in-out
        options:
            -  
                label: None
                value: none
            -
                label: Linear
                value: linear
            -
                label: Ease
                value: ease
            -
                label: Ease In
                value: ease-in
            -
                label: Ease Out
                value: ease-out
            -
                label: Ease In Out
                value: ease-in-out
    -
        id: light-mode-h2-hover-duration
        title: H2 Hover Duration
        type: variable-number
        default: 0.25
        format: s
    -
        id: light-mode-h2-hover-delay
        title: H2 Hover Delay
        type: variable-number
        default: 0
        format: s
    -
        id: light-mode-h3
        title: Heading 3
        type: heading
        level: 3
        collapsed: true
    -
        id: light-mode-h3-color
        title: H3 Color
        description: Heading 3 color
        type: variable-color
        format: hex
        opacity: true
        default: '#'
    -
        id: light-mode-h3-font
        title: H3 Font Family
        description: Accepts any CSS font-family value
        type: variable-text
        default: ''
    -
        id: light-mode-h3-size
        title: H3 Font Size
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    -
        id: light-mode-h3-line-height
        title: H3 Line Height
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    -
        id: light-mode-h3-alignment
        title: H3 Alignment
        type: variable-select
        default: left
        options:
            -
                label: Left Alignment
                value: left
            -
                label: Center Alignment
                value: center
            -
                label: Right Alignment
                value: right
            -
                label: Justify Alignment
                value: justify
    -
        id: light-mode-h3-weight
        title: H3 Font Weight
        type: variable-number-slider
        default: 800
        min: 50
        step: 50
        max: 900
    -
        id: light-mode-h3-variant
        title: H3 Variant
        type: variable-select
        default: normal
        options:
            -
                label: Normal
                value: normal
            -
                label: Small Caps
                value: small-caps
            -
                label: All Small Caps
                value: all-small-caps
    -
        id: light-mode-h3-color-hover
        title: H3 Hover Color
        description: Heading 3 color when hovered
        type: variable-color
        format: hex
        opacity: true
        default: '#'
    -
        id: light-mode-h3-hover-effect
        title: H3 Hover Effect
        type: class-select
        default: font-size 
        options:
            -
                label: None
                value: ''
            -
                label: Font Size
                value: light-mode-h3-hover-font-size
    -
        id: light-mode-h3-hover-timing-function
        title: H3 Hover Timing Function
        type: variable-select
        default: ease-in-out
        options:
            -  
                label: None
                value: none
            -
                label: Linear
                value: linear
            -
                label: Ease
                value: ease
            -
                label: Ease In
                value: ease-in
            -
                label: Ease Out
                value: ease-out
            -
                label: Ease In Out
                value: ease-in-out
    -
        id: light-mode-h3-hover-duration
        title: H3 Hover Duration
        type: variable-number
        default: 0.25
        format: s
    -
        id: light-mode-h3-hover-delay
        title: H3 Hover Delay
        type: variable-number
        default: 0
        format: s
    -
        id: light-mode-h4
        title: Heading 4
        type: heading
        level: 3
        collapsed: true
    -
        id: light-mode-h4-color
        title: H4 Color
        description: Heading 4 color
        type: variable-color
        format: hex
        opacity: true
        default: '#'
    -
        id: light-mode-h4-font
        title: H4 Font Family
        description: Accepts any CSS font-family value
        type: variable-text
        default: ''
    -
        id: light-mode-h4-size
        title: H4 Font Size
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    -
        id: light-mode-h4-line-height
        title: H4 Line Height
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    -
        id: light-mode-h4-alignment
        title: H4 Alignment
        type: variable-select
        default: left
        options:
            -
                label: Left Alignment
                value: left
            -
                label: Center Alignment
                value: center
            -
                label: Right Alignment
                value: right
            -
                label: Justify Alignment
                value: justify
    -
        id: light-mode-h4-weight
        title: H4 Font Weight
        type: variable-number-slider
        default: 800
        min: 50
        step: 50
        max: 900
    -
        id: light-mode-h4-variant
        title: H4 Variant
        type: variable-select
        default: normal
        options:
            -
                label: Normal
                value: normal
            -
                label: Small Caps
                value: small-caps
            -
                label: All Small Caps
                value: all-small-caps
    -
        id: light-mode-h4-color-hover
        title: H4 Hover Color
        description: Heading 4 color when hovered
        type: variable-color
        format: hex
        opacity: true
        default: '#'
    -
        id: light-mode-h4-hover-effect
        title: H4 Hover Effect
        type: class-select
        default: font-size 
        options:
            -
                label: None
                value: ''
            -
                label: Font Size
                value: light-mode-h4-hover-font-size
    -
        id: light-mode-h4-hover-timing-function
        title: H4 Hover Timing Function
        type: variable-select
        default: ease-in-out
        options:
            -  
                label: None
                value: none
            -
                label: Linear
                value: linear
            -
                label: Ease
                value: ease
            -
                label: Ease In
                value: ease-in
            -
                label: Ease Out
                value: ease-out
            -
                label: Ease In Out
                value: ease-in-out
    -
        id: light-mode-h4-hover-duration
        title: H4 Hover Duration
        type: variable-number
        default: 0.25
        format: s
    -
        id: light-mode-h4-hover-delay
        title: H4 Hover Delay
        type: variable-number
        default: 0
        format: s
    -
        id: light-mode-h5
        title: Heading 5
        type: heading
        level: 3
        collapsed: true
    -
        id: light-mode-h5-color
        title: H5 Color
        description: Heading 5 color
        type: variable-color
        format: hex
        opacity: true
        default: '#'
    -
        id: light-mode-h5-font
        title: H5 Font Family
        description: Accepts any CSS font-family value
        type: variable-text
        default: ''
    -
        id: light-mode-h5-size
        title: H5 Font Size
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    -
        id: light-mode-h5-line-height
        title: H5 Line Height
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    -
        id: light-mode-h5-alignment
        title: H5 Alignment
        type: variable-select
        default: left
        options:
            -
                label: Left Alignment
                value: left
            -
                label: Center Alignment
                value: center
            -
                label: Right Alignment
                value: right
            -
                label: Justify Alignment
                value: justify
    -
        id: light-mode-h5-weight
        title: H5 Font Weight
        type: variable-number-slider
        default: 800
        min: 50
        step: 50
        max: 900
    -
        id: light-mode-h5-variant
        title: H5 Variant
        type: variable-select
        default: normal
        options:
            -
                label: Normal
                value: normal
            -
                label: Small Caps
                value: small-caps
            -
                label: All Small Caps
                value: all-small-caps
    -
        id: light-mode-h5-color-hover
        title: H5 Hover Color
        description: Heading 5 color when hovered
        type: variable-color
        format: hex
        opacity: true
        default: '#'
    -
        id: light-mode-h5-hover-effect
        title: H5 Hover Effect
        type: class-select
        default: font-size 
        options:
            -
                label: None
                value: ''
            -
                label: Font Size
                value: light-mode-h5-hover-font-size
    -
        id: light-mode-h5-hover-timing-function
        title: H5 Hover Timing Function
        type: variable-select
        default: ease-in-out
        options:
            -  
                label: None
                value: none
            -
                label: Linear
                value: linear
            -
                label: Ease
                value: ease
            -
                label: Ease In
                value: ease-in
            -
                label: Ease Out
                value: ease-out
            -
                label: Ease In Out
                value: ease-in-out
    -
        id: light-mode-h5-hover-duration
        title: H5 Hover Duration
        type: variable-number
        default: 0.25
        format: s
    -
        id: light-mode-h5-hover-delay
        title: H5 Hover Delay
        type: variable-number
        default: 0
        format: s
    -
        id: light-mode-h6
        title: Heading 6
        type: heading
        level: 3
        collapsed: true
    -
        id: light-mode-h6-color
        title: H6 Color
        description: Heading 6 color
        type: variable-color
        format: hex
        opacity: true
        default: '#'
    -
        id: light-mode-h6-font
        title: H6 Font Family
        description: Accepts any CSS font-family value
        type: variable-text
        default: ''
    -
        id: light-mode-h6-size
        title: H6 Font Size
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    -
        id: light-mode-h6-line-height
        title: H6 Line Height
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    -
        id: light-mode-h6-alignment
        title: H6 Alignment
        type: variable-select
        default: left
        options:
            -
                label: Left Alignment
                value: left
            -
                label: Center Alignment
                value: center
            -
                label: Right Alignment
                value: right
            -
                label: Justify Alignment
                value: justify
    -
        id: light-mode-h6-weight
        title: H6 Font Weight
        type: variable-number-slider
        default: 800
        min: 50
        step: 50
        max: 900
    -
        id: light-mode-h6-variant
        title: H6 Variant
        type: variable-select
        default: normal
        options:
            -
                label: Normal
                value: normal
            -
                label: Small Caps
                value: small-caps
            -
                label: All Small Caps
                value: all-small-caps
    -
        id: light-mode-h6-color-hover
        title: H6 Hover Color
        description: Heading 6 color when hovered
        type: variable-color
        format: hex
        opacity: true
        default: '#'
    -
        id: light-mode-h6-hover-effect
        title: H6 Hover Effect
        type: class-select
        default: font-size 
        options:
            -
                label: None
                value: ''
            -
                label: Font Size
                value: light-mode-h6-hover-font-size
    -
        id: light-mode-h6-hover-timing-function
        title: H6 Hover Timing Function
        type: variable-select
        default: ease-in-out
        options:
            -  
                label: None
                value: none
            -
                label: Linear
                value: linear
            -
                label: Ease
                value: ease
            -
                label: Ease In
                value: ease-in
            -
                label: Ease Out
                value: ease-out
            -
                label: Ease In Out
                value: ease-in-out
    -
        id: light-mode-h6-hover-duration
        title: H6 Hover Duration
        type: variable-number
        default: 0.25
        format: s
    -
        id: light-mode-h6-hover-delay
        title: H6 Hover Delay
        type: variable-number
        default: 0
        format: s
    -
        id: dark
        title: Dark Mode
        description: Settings exclusive to the dark mode
        type: heading
        level: 1
        collapsed: true
    -
        id: plugins
        title: Plugins Integration
        description: Settings for how to display plugins officially supported by MainHub
        type: heading
        level: 1
        collapse: true
    -
        id: interface
        title: Interface Settings
        description: Changing how the interface looks
        type: heading
        level: 1
        collapsed: true
    -
        id: background
        title: Backgrounds
        type: heading
        level: 2
        collapsed: true
    -
        id: background-primary
        title: Primary Background
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#F0F0F0'
        default-dark: '#121212'
    -
        id: background-primary-alt
        title: Primary Background Alternative
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: background-secondary
        title: Secondary Background
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#FFFFFF'
        default-dark: '#000000'
    -
        id: background-secondary-alt
        title: Secondary Background Alternative
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: background-modifier-hover
        title: Hover Background
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: background-modifier-border
        title: Border
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: background-modifier-border-hover
        title: Hover Border
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: background-modifier-border-focus
        title: Hover Focus
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: background-modifier-message
        title: Message Background
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: text
        title: Text
        type: heading
        level: 2
        collapsed: true
    -
        id: text-normal
        title: Text Color Normal
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: text-muted
        title: Text Color Muted
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -  
        id: text-faint
        title: Text Color Faint
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: modal
        title: Modal
        description: Changes how the modal looks
        type: heading
        level: 2
        collapsed: true
    -
        id: modal-background
        title: Modal Background
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: modal-width
        title: Modal Width
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    -
        id: modal-max-width
        title: Modal Max Width
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    -
        id: modal-height
        title: Modal Height
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    -
        id: modal-max-height
        title: Modal Max Height
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    -
        id: modal-max-width-narrow
        title: Narrow Modal Max Width
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    -
        id: modal-border-width
        title: Modal Border Width
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    -
        id: modal-border-color
        title: Modal Border Color
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: modal-radius
        title: Modal Radius
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    -
        id: callout
        title: Callout
        description: Changing how the callouts look
        type: heading
        level: 1
        collapsed: true
    -
        id: callout-border-width
        title: Callout Border Width
        description: Accepts any CSS font-size value
        type: variable-text
        default: '1px'
    -
        id: callout-border-opacity
        title: Callout Border Opacity
        type: variable-number-slider
        default: 10
        min: 0
        max: 100
        step: 1
        format: '%'
    -
        id: callout-padding
        title: Callout Padding
        description: Accepts any CSS font-size value
        type: variable-text
        default: '0px'
    -
        id: callout-radius
        title: Callout Radius
        description: Accepts any CSS font-size value
        type: variable-text
        default: '0px'
    -
        id: callout-title-size
        title: Callout Title Size
        description: Accepts any CSS font-size value
        type: variable-text
        default: '1em'
    -
        id: callout-content-background
        title: Callout Content Background
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: checkbox
        title: Checkbox
        description: Changes how the checkbox looks
        type: heading
        level: 1
        collapsed: true
    -
        id: checkbox-radius
        title: Checkbox radius
        description: Accepts any CSS font-size value
        type: variable-text
        default: '2px'
    -
        id: checkbox-size
        title: Checkbox Size
        description: Accepts any CSS font-size value
        type: variable-text
        default: 1.2em
    -
        id: checklist-done-decoration
        title: Checklist Done Decoration
        type: variable-select
        allowEmpty: false
        default: line-through
        options:
            -
                label: None
                value: none
            -
                label: Underline
                value: underline
            -
                label: Line Through
                value: line-through
            -  
                label: Overline
                value: overline
    -
        id: checkbox-color
        title: Checkbox Color
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: checkbox-color-hover
        title: Checkbox Color Hover
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: checkbox-border-color
        title: Checkbox Border Color
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: checkbox-border-color-hover
        title: Checkbox Border Color
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: checklist-done-color
        title: Checklist Done Color
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: checkbox-marker-color
        title: Checkbox Marker Color
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: codeblock
        title: Codeblock
        description: Changes how the codeblock looks
        type: heading
        level: 1
        collapsed: true
    -
        id: code-background
        title: Code Backhround
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: code-white-space
        title: Code White Space
        type: variable-select
        allowEmpty: false
        default: normal
        options:
            -
                label: Normal
                value: normal
            -
                label: No Wrap
                value: nowrap
            -
                label: Preserved
                value: pre
            -
                label: Preserved Line
                value: pre-line
            -
                label: Preserved Wrap
                value: pre-wrap
    -
        id: horizontal-rule
        title: Horizontal Line
        description: Changing how the Horizontal Line looks
        type: heading
        level: 1
        collapsed: true
    -
        id: hr-color
        title: Horizontal Line Color
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: hr-thickness
        title: Horizontal Line Thickness
        description: Accepts any CSS text-size value
        type: variable-text
        default: '1px'
    -
        id: hr-radius
        title: Horizontal Line Roundness
        description: Accepts any CSS text-size value
        type: variable-text
        default: '2px'
    -
        id: hr-special
        title: Horizontal Line Enhanced
        description: Custom Horizontal Line
        type: class-select
        default: native
        options: 
            -
                label: Native
                value: native
            -
                label: Fancy
                value: fancy 
    -
        id: tag
        title: Tags
        description: Changing how the tags looks
        type: heading
        level: 1
        collapsed: true
    -
        id: tag-size
        title: Tag Font Size
        type: variable-text
        description: Accepts any CSS font-size value
        default: '0.8em'
    -
        id: tag-color
        title: Tag Text Color
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: tag-color-hover
        title: Tag Text Color Hover
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: tag-background
        title: Tag Background Color
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: tag-background-hover
        title: Tag Background Color Hover
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: tag-border-color
        title: Tag Border Color
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: tag-border-color-hover
        title: Tag Border Color Hover
        type: variable-themed-color
        format: hex
        opacity: true
        default-light: '#'
        default-dark: '#'
    -
        id: tag-border-width
        title: Tag Border Width
        description: Accepts any CSS font-size value
        type: variable-text
        default: '1px'
    -
        id: tag-radius
        title: Tag Radius
        description: Accepts any CSS font-size value
        type: variable-text
        default: ''
    -
        id: tag-weight
        title: Tag weight
        type: variable-text
        default: 'bold'
    
*/

body h2 {
    text-align: var(--h2-align);
}

body h3 {
    text-align: var(--h3-align);
}

body h5 {
    text-align: var(--h5-align);
}

body h5 {
    text-align: var(--h5-align);
}

body h6 {
    text-align: var(--h6-align);
}

input[type="text"],
input.slider,
select.dropdown {
    width: 210px;
}

body {
    --radius-s: 0px;
    --radius-m: 0px;
    --radius-l: 0px;
    --input-radius: 15px;
    --tab-radius-active: 0px;
    --toggle-radius: 15px;
    --toggle-thumb-radius: 15px;
    --slider-thumb-radius: 15px;
    --titlebar-background-focused: black;
    --titlebar-text-weight: 400;
    --font-ui-medium: 14px;
    --font-ui-small: 11px;
    --font-ui-smaller: 10px;
    --text-error: white;
    --code-editorInlayHintsFontFamily: "Lexend Deca", monospace;
}

body.theme-light.css-settings-manager {
    --h1-color: var(--light-mode-h1-color);
    --h1-font: var(--light-mode-h1-font), var(--font-text);
    --h1-weight: var(--light-mode-h1-weight);
    --h1-line-height: var(--light-mode-h1-line-height);
    --h1-size: var(--light-mode-h1-size);
    --h2-color: var(--light-mode-h2-color);
    --h3-color: var(--light-mode-h3-color);
    --h4-color: var(--light-mode-h4-color);
    --h5-color: var(--light-mode-h5-color);
    --h6-color: var(--light-mode-h6-color);
}

/* Headings */

.theme-light h1 {
    text-align: var(--light-mode-h1-alignment);
    transition: color var(--light-mode-h1-hover-duration) var(--light-mode-h1-hover-timing-function) var(--light-mode-h1-hover-delay), font-size var(--light-mode-h1-hover-duration) var(--light-mode-h1-hover-timing-function) var(--light-mode-h1-hover-delay);
}

.theme-light h1:hover {
    color: var(--light-mode-h1-color-hover);
}

.light-mode-h1-hover-font-size h1:hover {
    font-size: 2.2em;
}

.theme-light h2 {
    text-align: var(--light-mode-h2-alignment);
    transition: color var(--light-mode-h2-hover-duration) var(--light-mode-h2-hover-timing-function) var(--light-mode-h2-hover-delay), font-size var(--light-mode-h2-hover-duration) var(--light-mode-h2-hover-timing-function) var(--light-mode-h2-hover-delay);
}

.theme-light h2:hover {
    color: var(--light-mode-h2-color-hover);
}

.light-mode-h2-hover-font-size h2:hover {
    font-size: 2.2em;
}

.theme-light h3 {
    text-align: var(--light-mode-h3-alignment);
    transition: color var(--light-mode-h3-hover-duration) var(--light-mode-h3-hover-timing-function) var(--light-mode-h3-hover-delay), font-size var(--light-mode-h3-hover-duration) var(--light-mode-h3-hover-timing-function) var(--light-mode-h3-hover-delay);
}

.theme-light h3:hover {
    color: var(--light-mode-h3-color-hover);
}

.light-mode-h3-hover-font-size h3:hover {
    font-size: 2.2em;
}

.theme-light h4 {
    text-align: var(--light-mode-h4-alignment);
    transition: color var(--light-mode-h4-hover-duration) var(--light-mode-h4-hover-timing-function) var(--light-mode-h4-hover-delay), font-size var(--light-mode-h4-hover-duration) var(--light-mode-h4-hover-timing-function) var(--light-mode-h4-hover-delay);
}

.theme-light h4:hover {
    color: var(--light-mode-h4-color-hover);
}

.light-mode-h4-hover-font-size h4:hover {
    font-size: 2.2em;
}

.theme-light h5 {
    text-align: var(--light-mode-h5-alignment);
    transition: color var(--light-mode-h5-hover-duration) var(--light-mode-h5-hover-timing-function) var(--light-mode-h5-hover-delay), font-size var(--light-mode-h5-hover-duration) var(--light-mode-h5-hover-timing-function) var(--light-mode-h5-hover-delay);
}

.theme-light h5:hover {
    color: var(--light-mode-h5-color-hover);
}

.light-mode-h5-hover-font-size h5:hover {
    font-size: 2.2em;
}

.theme-light h6 {
    text-align: var(--light-mode-h6-alignment);
    transition: color var(--light-mode-h6-hover-duration) var(--light-mode-h6-hover-timing-function) var(--light-mode-h6-hover-delay), font-size var(--light-mode-h6-hover-duration) var(--light-mode-h6-hover-timing-function) var(--light-mode-h6-hover-delay);
}

.theme-light h6:hover {
    color: var(--light-mode-h6-color-hover);
}

.light-mode-h6-hover-font-size h6:hover {
    font-size: 2.2em;
}

/* Calendar */

#calendar-container .today {
    font-weight: 900;
    color: var(--h1-color);
}

/* Custom Checkboxes */

/* Scheduling */

input[data-task="<"]:checked,
li[data-task="<"]>input:checked,
li[data-task="<"]>p>input:checked {
    --checkbox-color: transparent;
    --checkbox-color-hover: transparent;
    border-width: 0;
}

input[data-task="<"]:checked::after,
li[data-task="<"]>input:checked::after,
li[data-task="<"]>p>input:checked::after {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px' viewBox='0 0 256 256' fill='currentColor'%3E%3Cpath fill='currentColor' d='M128 24a104 104 0 1 0 104 104A104.11 104.11 0 0 0 128 24Zm56 112h-56a8 8 0 0 1-8-8V72a8 8 0 0 1 16 0v48h48a8 8 0 0 1 0 16Z'%3E%3C/path%3E%3C/svg%3E");
    -webkit-mask-size: 120%;
    background-color: var(--h2-color);
}

/* Reschedule */

input[data-task=">"]:checked,
li[data-task=">"]>input:checked,
li[data-task=">"]>p>input:checked {
    --checkbox-color: transparent;
    --checkbox-color-hover: transparent;
    border-width: 0;
}

input[data-task=">"]:checked::after,
li[data-task=">"]>input:checked::after,
li[data-task=">"]>p>input:checked::after {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px' viewBox='0 0 256 256' fill='currentColor'%3E%3Cpath fill='currentColor' d='M232 127.89a16 16 0 0 1-8.18 14L55.91 237.9A16.14 16.14 0 0 1 48 240a16 16 0 0 1-15.05-21.34l27.35-79.95a4 4 0 0 1 3.79-2.71H136a8 8 0 0 0 8-8.53a8.19 8.19 0 0 0-8.26-7.47H64.16a4 4 0 0 1-3.79-2.7l-27.44-80a16 16 0 0 1 22.92-19.23l168 95.89a16 16 0 0 1 8.15 13.93Z'%3E%3C/path%3E%3C/svg%3E");
    -webkit-mask-size: 120%;
    background-color: var(--h6-color);
}

/* Cancelled */

input[data-task="-"]:checked,
li[data-task="-"]>input:checked,
li[data-task="-"]>p>input:checked {
    --checkbox-color: transparent;
    --checkbox-color-hover: transparent;
    border-width: 0px;
}

input[data-task="-"]:checked::after,
li[data-task="-"]>input:checked::after,
li[data-task="-"]>p>input:checked::after {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px' viewBox='0 0 256 256' fill='currentColor'%3E%3Cpath fill='currentColor' d='M228 128a12 12 0 0 1-12 12H40a12 12 0 0 1 0-24h176a12 12 0 0 1 12 12Z'%3E%3C/path%3E%3C/svg%3E");
    -webkit-mask-size: 120%;
    background-color: var(--text-faint);
}

body:not(.native-scrollbars) ::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
    height: 1px;
}

body:not(.native-scrollbars) ::-webkit-scrollbar-thumb {
    border-radius: 15px;
}

body:not(.native-scrollbars) ::-webkit-scrollbar-thumb:hover,
body:not(.native-scrollbars) ::-webkit-scrollbar-thumb:active {
    border-radius: 15px;
    background-color: white;
}

.vertical-tab-nav-item {
    font-size: calc(var(--font-ui-small) + 2px);
}

hr {
    border-radius: var(--hr-radius);
}

.metadata-properties,
.metadata-properties *,
.metadata-add-button,
.metadata-properties-heading {
    font-family: var(--font-monospace);
}

.metadata-container {
    border-bottom: solid 2px var(--background-modifier-border);
    margin-bottom: 1.5rem;
}

.kanban-plugin__lane {
    background-color: var(--background-primary);
    border-radius: var(--input-radius);
}

.kanban-plugin__item-content-wrapper,
.kanban-plugin__item-metadata-wrapper,
.kanban-plugin__item-title-wrapper {
    background-color: var(--background-secondary);
}

.kanban-plugin__item-title-wrapper:not(:only-child) {
    border: 0px;
}

.markdown-source-view.mod-cm6 .cm-embed-block:not(.cm-table-widget):hover {
    border-radius: var(--callout-radius);
}

code[class*="language-"],
pre[class*="language-"] {
    white-space: var(--code-white-space);
}

.workspace-tab-header.is-active::before,
.workspace-tab-header.is-active::after {
    display: none;
}

svg * {
    stroke-linecap: square;
    stroke-linejoin: miter;
}

.view-lines {
    font-family: "Lexend Deca";
}