/* @settings
name: Power
id: user-power
settings:
	- 
        id: user-appearance
        title: Appearance
		description: |-
			Change how the native ObsidianMD looks
			(Plugins and Snippets dependant on the native colors will still be affected)
        type: heading
        level: 1
		collapsed: true
	-
		id: user-colorscheme
		title: Colorscheme
		type: class-select
		allowEmpty: false
		default: power-catppuccin
		options:
			-
				label: Native
				value: power-native
			-
				label: Catppuccin
				value: power-catppuccin
			-
				label: Rose Pine
				value: power-rose-pine
			-
				label: Tokyo Night
				value: power-tokyo-night
	-
		id: user-catppuccin-flavor
		title: Flavor
		type: class-select
		allowEmpty: false
		default: mocha
		options:
			-
				label: Latte
				value: latte
			-
				label: Frappé
				value: frappe
			-
				label: Macchiato
				value: macchiato
			-
				label: Mocha
				value: mocha
	-
		id: user-rose-pine-variant
		title: Variants
		type: class-select
		allowEmpty: false
		default: main
		options:
			-
				label: Main
				value: main
			-
				label: Dawn
				value: dawn
			-
				label: Moon
				value: moon
	-
		id: user-color
		title: Color
		type: heading
		level: 2
		collapsed: true
	-
		id: user-red
		title: Red
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: "#"
		default-dark: "#"
	-
		id: user-orange
		title: Orange
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: "#"
		default-dark: "#"
	-
		id: user-yellow
		title: Yellow
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: "#"
		default-dark: "#"
	-
		id: user-green
		title: Green
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: "#"
		default-dark: "#"
	-
		id: user-cyan
		title: Cyan
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: "#"
		default-dark: "#"
	-
		id: user-blue
		title: Blue
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: "#"
		default-dark: "#"
	-
		id: user-purple
		title: Purple
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: "#"
		default-dark: "#"
	-
		id: user-pink
		title: Pink
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: "#"
		default-dark: "#"
	-
		id: user-background
		title: Background
		type: heading
		level: 2
		collapsed: true
	-
		id: user-background-primary
		title: Primary Background
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: "#"
		default-dark: "#"
	-
		id: user-background-primary-alt
		title: On Primary Background
		description: The background color for objects with a background different from and on top of the primary background
		type: variable-themed-color
		format: hex
		opacity: true
		default-light: "#"
		default-dark: "#"
	-
		id: user-background-secondary
		title: Secondary Background
		type: variable-themed-color
		format: hex
		opacity: false
		default-light: "#"
		default-dark: "#"
	-
		id: user-background-secondary-alt
		title: On Secondary Background
		description: The background color for objects with a background different from and on top of the primary background
		type: variable-themed-color
		format: hex
		opacity: true
		default-light: "#"
		default-dark: "#"
	-
		id: user-background-modifier-hover
		title: Hover Background
		type: variable-themed-color
		format: hex
		default-light: "#"
		default-dark: "#"
	-
		id: user-background-modifier-active-hover
		title: Active Hover Background
		type: variable-themed-color
		format: hex
		default-light: "#"
		default-dark: "#"
	-
		id: user-background-modifier-border
		title: Border Color
		type: variable-themed-color
		format: hex
		opacity: true
		default-light: "#"
		default-dark: "#"
	-
		id: user-background-modifier-border-hover
		title: Border Hover Color
		type: variable-themed-color
		format: hex
		opacity: true
		default-light: "#"
		default-dark: "#"
	-
		id: user-background-modifier-border-focus
		title: Border Focus Color
		type: variable-themed-color
		format: hex
		opacity: true
		default-light: "#"
		default-dark: "#"
	-
		id: user-headings
		title: Headings
		type: heading
		level: 2
		collapsed: true
	-
		id: user-headings-tip
		title: Info
		description: To be able to change the color of the heading, turn on "Custom Colors"
		type: info-text
	-	
		id: user-headings-custom-color
		title: Custom Colors
		type: class-toggle
	-
		id: user-heading-1
		title: Heading 1
		type: heading
		level: 3
		collapsed: true
	-
		id: user-heading-2
		title: Heading 2
		type: heading
		level: 3
		collapsed: true
	-
		id: user-heading-3
		title: Heading 3
		type: heading
		level: 3
		collapsed: true
	-
		id: user-heading-4
		title: Heading 4
		type: heading
		level: 3
		collapsed: true
	-
		id: user-heading-5
		title: Heading 5
		type: heading
		level: 3
		collapsed: true
	-
		id: user-heading-6
		title: Heading 6
		type: heading
		level: 3
		collapsed: true
	-
		id: user-text
		title: Text
		type: heading
		level: 2
		collapsed: true
*/

.theme-dark,
.themed-color-wrapper > .theme-dark {
	--power-pbg0: #1e1e1e;
	--power-pbg1: #262626;
	--power-sbg0: #121212;
	--power-sbg1: #1e1e1e;
	--power-t0: #e8e8e8;
	--power-t1: #a4a4a4;
	--power-t2: #8a8a8a;
	/* Copy what's in the catppuccin section */
}

.theme-dark.power-catppuccin,
.power-catppuccin .themed-color-wrapper > .theme-dark {
	--power-pbg0: #1e1e2e;
	--power-pbg1: #181825;
	--power-sbg0: #11111b;
	--power-sbg1: #181825;
	--power-t0: #cdd6f4;
	--power-t1: #bac2de;
	--power-t2: #a6adc8;
	--power-red: #f38ba8;
	--power-orange: #fab387;
	--power-yellow: #f9e2af;
	--power-green: #a6e3a1;
	--power-cyan: #94e2d5;
	--power-blue: #89b4fa;
	--power-purple: #cba6f7;
	--power-pink: #f5c2e7;
}

.theme-light {
	--text-on-accent: var(--power-sbg0);
	--text-on-accent-inverted: var(--power-t0);
}

.theme-dark {
	--text-on-accent: var(--power-t0);
	--text-on-accent-inverted: var(--power-sbg0);
}

.theme-light,
.theme-dark {
	--divider-color: #0000;
	--background-primary: var(--user-background-primary, var(--power-pbg0));
	--background-primary-alt: var(
		--user-background-primary-alt,
		var(--power-pbg1)
	);
	--background-secondary: var(--user-background-secondary, var(--power-sbg0));
	--background-secondary-alt: var(
		--user-background-secondary-alt,
		var(--power-sbg1)
	);
	--background-modifier-border: #313244;
	--background-modifier-hover: color-mix(
		in srgb,
		var(--power-t0) 7.5%,
		transparent
	);
	--background-modifier-form-field: var(--power-osbg);
	--text-normal: var(--power-t0);
	--text-muted: var(--power-t1);
	--text-faint: var(--power-t2);
	--interactive-normal: #181825;
	--interactive-hover: #1e1e2e;
	--color-red: var(--power-red);
	--color-orange: var(--power-orange);
	--color-yellow: var(--power-yellow);
	--color-green: var(--power-green);
	--color-cyan: var(--power-cyan);
	--color-blue: var(--power-blue);
	--color-purple: var(--power-purple);
	--color-pink: var(--power-pink);
	--bold-weight: 600;
	--h1-color: var(--color-red);
	--h1-size: 2em;
	--h1-line-height: 1.5em;
	--h2-color: var(--color-orange);
	--h2-size: 1.75em;
	--h2-line-height: 1.5em;
	--h3-color: var(--color-yellow);
	--h3-size: 1.5em;
	--h3-line-height: 1.5em;
	--h4-color: var(--color-green);
	--h4-size: 1.25em;
	--h4-line-height: 1.5em;
	--h5-color: var(--color-blue);
	--h5-size: 1em;
	--h5-line-height: 1.5em;
	--h6-color: var(--color-purple);
	--h6-size: 0.9em;
	--h6-line-height: 1.5em;
	--callout-border-width: 2px;
	--callout-border-opacity: 0.8;
	--callout-padding: 0;
	--callout-radius: 16px;
	--callout-title-padding: 1em 0 1em 1em;
	--callout-content-padding: 0 0 1em 1em;
	--canvas-color-1: var(--color-red);
	--canvas-color-2: var(--color-orange);
	--canvas-color-3: var(--color-yellow);
	--canvas-color-4: var(--color-green);
	--canvas-color-5: var(--color-blue);
	--canvas-color-6: var(--color-purple);
	--link-color: var(--text-normal);
	--link-color-hover: var(--text-normal);
}

/* Callout */

.callout-content p {
	margin: -0.25em 0 0 0;
}

.callout[data-callout-metadata*="1/2"] {
	width: calc(50% - 4px);
	float: left;
	margin-right: 8px;
}

[data-callout-metadata*="1/2"]:has(+ [data-callout="danger"]) .callout {
	margin-right: 0;
}

.callout-content {
	margin-right: 16px;
}

/* Canvas */

body.theme-dark {
	--canvas-color: #a6adc8;
}

button:not(.clickable-icon) {
	box-shadow: 0 0 0 2px var(--background-primary-alt);
}

.canvas-color-picker-item {
	background-color: var(--canvas-color);
	&.is-active {
		box-shadow: 0 0 0 2px var(--canvas-color);
	}
}

.canvas-node-placeholder::after {
	background-color: color-mix(in srgb, var(--canvas-color) 10%, transparent);
}

.canvas-icon-placeholder svg {
	color: var(--canvas-color);
}

.canvas-node.is-themed .canvas-node-content {
	background-color: color-mix(in srgb, var(--canvas-color) 7%, transparent);
}

.canvas-node-group .canvas-node-content {
	background-color: color-mix(in srgb, var(--canvas-color) 7%, transparent);
}

.canvas-group-label {
	background-color: color-mix(in srgb, var(--canvas-color) 10%, transparent);
}

.canvas-group-label[contenteditable="true"] {
	box-shadow: 0 0 0 2px var(--canvas-color);
}

.canvas-node-group.is-themed .canvas-group-label:not([contenteditable="true"]) {
	background-color: var(--canvas-color);
}

.canvas-node-container {
	border: 2px solid var(--canvas-color);
	box-shadow: 0 0 0 2px var(--canvas-color);
}

.canvas-node {
	--shadow-border-themed: 0 0 0 2px var(--canvas-color);
	--shadow-border-themed-inset: 0 0 0 2px var(--canvas-color);
	& .canvas-node-content {
		background-color: color-mix(
			in srgb,
			var(--canvas-color),
			transparent 93%
		);
	}
	& .canvas-node-container {
		box-shadow: 0 0 0 2px var(--canvas-color);
	}
	&.is-selected .canva-node-container,
	&.is-focused .canva-node-container {
		box-shadow: 0 0 0 4px var(--canvas-color);
	}
}

.canvas-node.is-themed .canvas-node-container {
	border-color: color-mix(in srgb, var(--canvas-color) 70%, transparent);
	box-shadow:
		inset 0 0 0 1px color-mix(in srgb, var(--canvas-color) 70%, transparent),
		var(--shadow-stationary);
}

.canvas-node.is-selected.is-themed .canvas-node-container,
.canvas-node.is-focused.is-themed .canvas-node-container {
	border-color: var(--canvas-color);
}

.canvas-edges path.canvas-display-path,
.canvas-edges polygon.canvas-path-end {
	stroke: var(--canvas-color);
	fill: var(--canvas-color);
}

.markdown-rendered {
	text-align: justify;
}

img,
.cards table.dataview tbody > tr > td img {
	background-color: var(--background-primary) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	border-radius: 0.25em;
	text-align: center;
}

h1 {
	background: color-mix(in srgb, var(--color-red) 20%, transparent);
}

h2 {
	background: color-mix(in srgb, var(--color-orange) 20%, transparent);
}

h3 {
	background: color-mix(in srgb, var(--color-yellow) 20%, transparent);
}

h4 {
	background: color-mix(in srgb, var(--color-green) 20%, transparent);
}

h5 {
	background: color-mix(in srgb, var(--color-blue) 20%, transparent);
}

h6 {
	background: color-mix(in srgb, var(--color-blue) 20%, transparent);
}

/* Color Selector */
.pickr .pcr-button {
	width: 14em;
	&::before {
		background: var(--background-primary-alt);
		box-shadow: unset;
		content: "Undefined";
		color: var(--text-normal);
		font-family: var(--font-text);
		font-weight: 800;
		height: 1.6em;
		padding-top: 6px;
	}
	&::after {
		box-shadow: 0 0 0 2px var(--pcr-color);
	}
}

/* Metadata */
.metadata-property:not([data-property-key="tags"]) {
	--pill-padding-x: inherit;
	--pill-padding-y: inherit;
}

.metadata-input-longtext {
	-webkit-line-clamp: unset;
	max-height: none;
}

/* Multi-select */
body {
	--pill-background: var(--background-primary-alt);
	--pill-background-hover: var(--background-primary-alt);
	--pill-padding-x: 8px !important;
	--pill-padding-y: 0px !important;
}

/* Progress Bar */
.markdown-rendered div:has(+ div progress) p {
	margin-bottom: 0;
}

.markdown-preview-view progress[value]::-webkit-progress-bar,
.markdown-rendered progress[value]::-webkit-progress-bar,
.markdown-source-view.is-live-preview progress[value]::-webkit-progress-bar {
	background-color: #fff2;
	box-shadow: none;
	border-radius: 2em;
}
.markdown-preview-view progress[value]::-webkit-progress-value,
.markdown-rendered progress[value]::-webkit-progress-value,
.markdown-source-view.is-live-preview progress[value]::-webkit-progress-value {
	background-color: var(--progress-color, var(--interactive-accent));
}

/* Plugins */
/* Dataview */
.dataview.inline-field {
	white-space: nowrap;
}

.dataview.inline-field-standalone-value {
	padding: var(--pill-padding-y) var(--pill-padding-x);
	background-color: var(--pill-background);
	border-radius: 2em;
	font-family: var(--font-text);
	font-weight: var(--font-black);
}

.dataview.task-list-item:hover,
.dataview.task-list-basic-item:hover {
	background-color: initial;
	box-shadow: initial;
}

.table-view-table > thead > tr > th {
	border-bottom: 2px solid;
}

.markdown-preview-view th,
.table-view-table > thead > tr > th,
.markdown-source-view.mod-cm6
	.dataview.table-view-table
	thead.table-view-thead
	tr
	th {
	padding-left: 0.45em;
	padding-right: 0.45em;
}

/* Style Settings */
.themed-color-wrapper > * {
	background: var(--background-primary);
}

.style-settings-container .setting-item-description > div {
	display: none;
}

.style-settings-container > *,
.style-settings-heading > * {
	padding-bottom: 5px;
}

.style-settings-heading[data-level="0"] + .style-settings-container {
	padding-left: 40px;
	border-left: 1px solid var(--background-modifier-border);
}

.style-settings-heading:not([data-level="0"]) + .style-settings-container {
	padding-left: 40px;
	margin-left: -15px;
	border-left: 1px solid var(--background-modifier-border);
}
